﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="PrototipoGPIDynamic.About" %>
<asp:Content ID="headContent" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server" />

    <h2>
    Acerca de
    </h2>

    <br />
    <letras>  
    Grupo X11A formador por: <br />
        Victor Vilena Martínez <br />
        Alex Rubio Alba <br />
        Javier Soria García <br />
        Jorge Vergara Roa <br />
        Ginés Baño Monerris <br />
    </letras>
    
</asp:Content>