﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="PrototipoGPIDynamic.Default" %>
<asp:Content ID="headContent" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server" />

    <div class = "hLogin">
    Login
    </div>
    <br />

    <div class ="login" >
    <br />
    Usuario:
    <br />
    <asp:TextBox ID="TextBox1" CssClass="textareasingle" runat="server" Width="300px"></asp:TextBox>
    <br />
    <br />
    Contraseña:
    <br />
    <asp:TextBox ID="TextBox2" CssClass="textareasingle" runat="server" Width="300px"></asp:TextBox>
    <br />
    <br />
    <asp:Button ID="Button1" CssClass="button" runat="server" Text="Iniciar sesión" onclick="Button1_Click" />  
    <asp:Button ID="Button2" CssClass="button" runat="server" Text="Cancelar" onclick="Button2_Click" />
    </div>

    
    
</asp:Content>