﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" CodeBehind="Home.aspx.cs" Inherits="PrototipoGPIDynamic._Default" %>

<asp:Content ID="headContent" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server" />

    <h2>
    Gestión de Autónomos - Prototipo Interfaz
    </h2>

    <br />
    <letras>  
    Prototipo de la interfaz del programa de gestión de autónomos para asignatura de GPI.
    </letras>
    
</asp:Content>


