﻿/*	Clases globales	*/
.DDMainHeader
{
	font: small-caps bold 1.6em Trebuchet MS, Arial, sans-serif;
	color:#888;
	padding-bottom: 12px;
    border-bottom: 1px dotted #bbbbbb;
}

.DDSubHeader
{
	margin-bottom: 10px;
    font:1.2em Trebuchet MS, Arial, sans-serif;
    color: #888;
}

.DD 
{
	padding: 0px 8px;
    font: .75em Tahoma, Arial, sans-serif;
    color: #666;
}

.DDLightHeader
{
	font-weight: bold;
	background-color: #F7F7FF;
} 

.DDTextBox, .DDDropDown
{
	color: #666;
	font: .95em Tahoma, Arial, Sans-Serif;
	border: solid 1px #dcdcdc;
	background-color: #FEFEFE;
}

.DDDropDown
{
	padding:2px;
}

.DDFilter
{
	font: .95em Tahoma, Arial, Sans-serif;
	color:#666;
}

.DDControl
{
    padding: 0px;
    font: .95em Tahoma, Arial, Sans-Serif;
    color: #666;
}

.DDFloatLeft
{
	float:left;
}

.DDFloatRight
{
	float:right;
}

.DDFooter
{
	background-color: #dbddff;
}

.DDSelected
{
	background-color: #fdffb8;
}

div.DDNoItem
{
	color:Red;
	font-family:Trebuchet MS, Arial, sans-serif;
}

.DDValidator
{
	color:Red;
	/*font-family:Trebuchet MS, Arial, sans-serif;*/
	font-family: "Segoe UI";
}


/*	Navigation	*/

div.DDNavigation
{
	font:.75em Tahoma, Arial, Sans-Serif;
	position: relative;
    top: -28px;
    margin-bottom: -10px;
    padding: 0px 5px;
}

div.DDNavigation img
{
    position: relative;
    margin-top: 0em;
    padding: 0px 8px;
    border: none;
    background-color: #fff;
}
div.DDNavigation a
{
    color: #839ce7;
    text-decoration: none;
    background-color: #fff;
    padding-right: 8px;
    top: -.2em;
    left: .25em;
}
div.DDNavigation a:hover
{
    color: #000099;
    text-decoration: underline !important;
}


/*	(Detalles) VIEW/EDIT	*/
table.DDDetailsTable
{
	color: #666;
	background-color: #FCFDFE;
	border: 1px solid #dbddff;
	border-bottom-width: 3px;
	margin-right:auto;
	margin-left:auto;
}

table.DDDetailsTable a
{
	color:#718ABE;
	text-decoration: none;
	padding-right: 6px;
}

table.DDDetailsTable a:hover
{
    color: #000099;
    text-decoration: underline !important;
}

table.DDDetailsTable .td
{
	padding: 3px 6px;
	border: 1px solid #dbddff;
	border-bottom-style: dotted;
	font-size: 1em;
	/*font-family:Tahoma, Arial, Sans-Serif;*/
	font-family: "Segoe UI";

}


/*	DDGridView/DDListView	*/
table.DDGridView, table.DDListView
{
	width: 75em;
	color: #666;
	border:solid 1px #dbddff;
	/*font: .7em Tahoma, Arial, Sans-Serif;*/
	font-family: "Segoe UI";
	margin-left:auto;
	margin-right:auto;
		
}

table.DDGridView .th, table.DDGridView .td, table.DDListView .th, table.DDListView .td
{
	white-space: nowrap;
	background: #EAEAEA;
}

table.DDGridView .th, table.DDListView .th
{
	/*background: url(DynamicData/Content/Images/header_back.gif) repeat-x;*/
	background: #38A8FF;
	line-height:1.3em;
	text-align: left;
	font-size: 1em;
	border:solid 1px #dbddff;
}

table.DDGridView .th a, table.DDListView .th a
{
	color: #fff;
	text-decoration: none;
}

table.DDGridView .td, table.DDListView .td
{
	border: dotted 1px #dbddff;
	border-left-width:0px;
	border-right-width:0px;
	padding: 6px;
}

table.DDGridView .td a, table.DDListView .td a
{
	color: #718ABE;
    text-decoration: none;
    margin-right: 6px;
	
}

table.DDGridView .DDSelected a, table.DDListView .DDSelected a
{
	color: #718ABE;
    text-decoration: none;
    margin-right: 6px;
	
}

table.DDGridView .DDSelected a:hover, table.DDListView .DDSelected a:hover
{
	color: #000099;
	text-decoration: underline;
}

table.DDGridView .td a:hover, table.DDListView .td a:hover
{
	color: #000099;
	text-decoration: underline;
}

/*	DataPager	*/
div.DDPager
{
    padding: 0px 6px;
}


/* Diseño de hipervínculo inferior*/
div.DDBottomHyperLink
{	
    /*font: .75em Tahoma, Arial, Sans-Serif;*/
    font-family: "Segoe UI";
    
}
div.DDBottomHyperLink a
{
    color: #839ce7;
    text-decoration: none;
}
div.DDBottomHyperLink a:hover
{
    color: #000099;
    text-decoration: underline !important;
}
div.DDBottomHyperLink img
{
    padding-right: 5px;
    border: none;
}


/* DEFAULTS
----------------------------------------------------------*/

body   
{
 background-color: #EFEDDF;
    background-attachment:fixed;
    /*background-size: cover;*/
    font-size: .80em;

     margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, hTitulo,hLogin
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    font-family: "Segoe UI";
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 2em;
    font-weight: 600;
}

hTitulo
{
    font-size: 3em;
    font-weight: 600;
    margin-left: 30px;
    color: #ffffff;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

letras
{
    font-family: "Segoe UI";
    font-size: 1.2em;
    color: #666666;
}

.hLogin
{
    font-size: 2em;
    font-weight: 600;
    text-align:center;
    font-family: Segoe UI;
     font-variant: small-caps;
    text-transform: none;
    
}

.login
{
    width: 30em;
    height: 17em;
    border: 3px;
    border-color: #666;
    
    margin-left:auto;
    margin-right:auto;
    
    background: #ffffff;
    font-family:Segoe UI;
    text-align:center;
}  

.textbox
{
    margin-left:auto;
    margin-right:auto;
}



/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
     width: auto;
    height: auto;

    background-color: #EFEAE3;


    z-index:1;

}

.header
{
    background-color: #333333;
    overflow:hidden;
    z-index:3;
    position: fixed;
    margin: 0px;
    padding: 0px;

    width: 100%;
    height:113px;
    min-width:400px;
    top: 0px;
    left: 0px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    z-index:1;
    /*margin: 124px 12px 12px 222px;*/
    margin-top: 124px;
    margin-left:20px;
    min-height: 420px;
    max-width:80%;
    min-width: 500px;
    overflow: inherit;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#333333;
    width:100%;
}

div.menu
{
   background-color:#ffffff;
    outline-style: none;
    outline: none;
    float: right;
   
    
    width: 100%;
    background-color: transparent;
}

div.menu ul
{
   outline-style: none;
    outline: none;
    list-style: none;
    
    
    background-color: #38A8FF;  
    
    width: 100% !important;
   
    
}

div.menu ul li a, div.menu ul li a:visited
{
    outline-style: none;
    outline: none;
    font-family: "Segoe UI";
    background-color: #38A8FF;
    border-bottom: none;
    font-family: "Segoe UI Semibold";
    font-weight: bold;
    font-size: 20px;

    
    color: #ffffff;    

    display: block;
    line-height: 2.00em;
    width: 100%;
    
    margin: 5px 0px 0px 0   px;
    padding: 5px 15px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
    margin-top: 10px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.marcobotones
{
    z-index:2;
    
    margin: 50px 0px 5px 0px;
    
    
    position: inherit;
    height: auto;
    width: 100%;

    /* Rounded borders for Mozilla */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    /* Rounded borders for webkit (Chrome, Safari...) */
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    /* Rounded borders for Mozilla */
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    /* Rounded borders for webkit */
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.boton1
{
    
    border: 1px solid #2EFE2E;
     /* Rounded borders for Mozilla */
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    /* Rounded borders for webkit (Chrome, Safari...) */
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
     /* Rounded borders for Mozilla */
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    /* Rounded borders for webkit */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;

}

.boton:focus
{
    background:green;
}

.button { /* general class */
  border: 1px solid #dedede;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 8px 11px;
  text-decoration: none;
  
  background: #f5f5f5;
  border-color: #dedede #d8d8d8 #d3d3d3;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: -webkit-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: o-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: ms-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: #f5f5f5;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0');
    text-align: center;
}

.button.white{
  background: #f5f5f5;
  border-color: #dedede #d8d8d8 #d3d3d3;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: -webkit-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: o-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: ms-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: #f5f5f5;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0');
    text-align: center;
}

.button:hover{
    background: #f4f4f4;
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    text-shadow: 0 1px 0 #fdfdfd;
    background: -moz-linear-gradient(top,  #efefef, #f8f8f8);
    background: -webkit-linear-gradient(top,  #efefef, #f8f8f8);
    background: -o-linear-gradient(top,  #efefef, #f8f8f8);
    background: -ms-linear-gradient(top,  #efefef, #f8f8f8);
    background: linear-gradient(top,  #efefef, #f8f8f8);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8');
}

.textareasingle
{
    width: 200px;
    outline-style: none;
    outline: none;
 
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 8px;
    font-weight: 200;
    font-size: 15px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
}
.textareasingle:hover
{
    width: 200px;
    outline-style: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 8px;
    font-weight: 200;
    font-size: 15px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
}